.search-row {
  display: flex;
}

.search-row > * {
  margin-right: 1rem;
}

.search-row > div {
  flex-grow: 1;
}

.filter-row > * {
  margin: 0rem 1rem 1rem 0rem;
}

@media(max-width: 600px) {
  .search-row {
    display: block;
  }

  .what-search-input-group {
    margin-bottom: 1rem;
  }

  .where-search-input-group {
    margin-bottom: 1rem;
  }
}