.job-card {
  display: block!important;
  margin: 1rem 1rem 1rem 0;
  position: relative;
}

.job-post-title {
  cursor: pointer;
}

.save-ban-col {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

.save-ban-col > div {
  border: 1px solid black;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ban-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ban-card-content h5 {
  margin-bottom: 0px;
}

.heart-job-red {
  color: red;
}

.sign-in-pop-up {
  position: absolute;
  top: 30%;
  right: -20%;
  padding: .5rem 1rem;
  z-index: 1;
}

.exit-sign-in-pop-up {
  text-align: end;
}