.job-card {
  cursor: pointer;
  display: block!important;
}

.save-ban-col {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

.save-ban-col > div {
  border: 1px solid black;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}