.job-card {
  cursor: pointer;
  display: block!important;
  margin: 1rem 1rem 1rem 0;
}

.save-ban-col {
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

.save-ban-col > div {
  border: 1px solid black;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ban-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ban-card-content h5 {
  margin-bottom: 0px;
}