.register-form-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.register-briefcase {
  width: 150%;
}

.register-form > div > input {
  min-width: 20rem;
}

.register-form-title {
  margin-bottom: 0px;
}